html {
  background: #e6e9e9;
}

body {
  background: #fff;
  margin: 0 auto; /* centers horizontally, 0 top bottom*/
  max-width: 80%;    
  padding: 2em;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #4D4D4D;
}

h1 {
    font-family: "HelveticaNeue-UltraLight", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 5em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
}

h2 {
    background-color: #582b2b;
    color:white;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    padding: 0 0.3em; /*left right padding*/
}

h3, p {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #333333;
}

h3 {
    font-weight: bold;
    margin:0;
}

.name {
    float: left;
}

.header {
    background-color: blue;
    height: 20%;
}
.contact {
    float: right;
    margin-top: 2.2em;  /*TODO: align correctly?*/
}

.contact > p {
    margin: 0 auto;
}

.resume-body {
    display: inline-block;
}

.colored {
    color: #582b2b;
    font-weight: 300;
}

.sidebar {
    float: left;
    max-width: 20%; /*max-width good for smaller screens*/
    text-align: right;
    margin-right: 1em;
}

ul {
    margin: 0;
    padding-left:0;
}

.main {
    float: left;
    max-width: 77%;
} 

.desc-header {
    display:flex;
}

.company {
    display: flex; 
}

.team {
    margin: 0.3em 0 0 0.5em ;
    font-size:.8em;
}

.time {
    margin-left: auto;
    font-size: .9em;
}

.role {
    font-style: italic;
}

.summary {
    margin-top:0.2em;
    margin-bottom:.9em;
}

    @media screen and (max-width: 785px) {
        h1 {
            font-size: 4em;
            margin-top: .5em;
        }
        .sidebar {
            margin-right: .5em;
        }
    }

    @media screen and (max-width: 665px) {
        h1 {
            font-size: 2em;
            margin-top:1.7em;
        }
        h2, h3, p, ul, .time {
            font-size: .8em;
        }
        .contact {
            margin-top: 3em;
        }
    }
}